* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #024e76;
}

/* HEADER styling*/ 
header {
    padding: 30px 35px;
    background-color: #000000;
 }

.header-text {
    background: #024e76;
    padding: 5px;
    color: white;  
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 100px;
}

header a {
    color: #ffffff;
    margin-right: 20px;
  }

  header nav {
      margin: auto 0;    
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
  }

  header nav ul li a:hover {
    background: #024e76;
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }

  /* HERO styling*/ 
.hero {
    background-image: url(../assets/hero.jpg);
    height: 100px;
    margin: 0;
  }

  .hero-text h2 {
      background: #024e76;
      padding: 10px;
      color: white;
      font-size: 25px;
      width: 320px;
      display: inline-block;
      margin: 35px 1050px;
      text-align: center;
  }

  /* MAIN content styling */ 

  .main-content-ab {
      display: inline-flex;
      margin: 15px 100px 15px 200px;
      padding: 20px;
  }
  .main-content {
      display: inline-flex;
      flex-wrap: wrap;
      width: 1200px;
      margin: 15px 100px 15px 200px;
      justify-content: space-between;
      }

    .content-header {
        margin: 15px;
        padding-right: 10px;
        border-right: 3px solid #024e76;
        font-size: 38px;
    }

    .content-sub {
        margin-top: 15px;
    }

    .run-buddy-img {
        width: 1000px;
    }
    
    .project-tiles {
        margin-left: 100px;
    }

    /*Contact Me Styling*/

    .contact-me {
        display: inline-flex;
        width: 1200px;
        margin: 15px 100px 15px 200px;
        justify-content: space-between;
    }



 



